<form class="row g-3" [formGroup]="loginForm">
    <div class="col-md-6">
      <label for="inputId" class="form-label">Identifiant</label>
      <input type="text" class="form-control" id="inputId" formControlName="identifiant">
    </div>
    <div class="col-md-6">
      <label for="inputPassword" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="inputPassword" formControlName="password">
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" (click)="onSubmit()">Connexion</button>
    </div>
</form>