<table class="table">
    <thead>
      <tr>
        <th scope="col">Numéro</th>
        <th scope="col">Client</th>
        <th scope="col">Date</th>
        <th scope="col">Produits</th>
        <th scope="col">Opérateur</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Client 1</td>
        <td>01/01/2023</td>
        <td>Moteur</td>
        <td>Opérateur 1</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Client 2</td>
        <td>02/02/2023</td>
        <td>Pompe</td>
        <td>Opérateur 2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Client 3</td>
        <td>03/03/2023</td>
        <td>Moteur, Réducteur</td>
        <td>Opérateur 3</td>
      </tr>
    </tbody>
</table>