<div class="list-group">
  <a class="list-group-item fixed-header">
    <div class="row title">
      <div class="col">Numéro</div>
      <div class="col">Client</div>
      <div class="col">Date</div>
      <div class="col">Produits</div>
    </div>
  </a>
</div>

<div class="list-group list-group-container" *ngFor="let sheet of list_sheets">
  <a [routerLink]="['/mechanical-sheet', 'view' , sheet.id]" class="list-group-item list-group-item-action">
    <div class="row">
      <div class="col">{{ sheet.id }}</div>
      <div class="col">{{ sheet.client?.nom || 'N/A' }}</div>
      <div class="col">{{ sheet.dateCreation }}</div>
      <div class="col">
        <ng-container *ngIf="sheet.assemblage">
          <p *ngFor="let moteur of sheet.assemblage.moteurs">Moteur {{ moteur.type }}</p>
          <p *ngFor="let pompe of sheet.assemblage.pompes">Pompe {{ pompe.type }}</p>
          <p *ngFor="let reducteur of sheet.assemblage.reducteurs">Réducteur {{ reducteur.type }}</p>
          <p *ngFor="let ventilateur of sheet.assemblage.ventilateurs">Ventilateur {{ ventilateur.type }}</p>
        </ng-container>
        <ng-container *ngIf="!sheet.assemblage || (sheet.assemblage.moteurs.length === 0 && sheet.assemblage.pompes.length === 0 && sheet.assemblage.reducteurs.length === 0 && sheet.assemblage.ventilateurs.length === 0)">N/A</ng-container>
      </div>
    </div>
  </a>
</div>