  <form action="/" method="post" class="form-group">
   
    <div class="dropdown">
      <select id="selectType">
        <option value="moteur">Moteur</option>
        <option value="equipement">Équipement</option>
      </select>

 
      
        <select id="optionsDropdown">
          <option value="moteur-synchrone">Moteur synchrone</option>
          <option value="moteur-asynchrone">Moteur asynchrone</option>
          <option value="autre-moteur">Autre</option>
          <option value="reducteur">Réducteur</option>
          <option value="autre-equipement">Autre équipement</option>
        </select>
     

     
        <input type="text" class="form-control rounded" id="autreOption" placeholder="Spécifiez votre option">
        <button id="addOption" type="button">+</button>
      
    </div>

 
  </form>