:root {
    --primary-color: #012061;
    --secondary-color: #ffffff;
}

form {
    margin-bottom: 40px;
    margin-top: 20px;
}

.row {
    margin-left: 4%;
    margin-right: 4%;
}

.btn {
    color: #ffffff;
    background-color: #012061;
}

.btn:active {
    color: #ffffff;
    background-color: #00143f;
}