<div class="container">
  <div class="row">
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="codeur" name="autre-option" value="codeur">
                  <label class="text-white" for="codeur">Codeur</label>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="vf" name="autre-option" value="vf">
                  <label class="text-white" for="vf">VF</label>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="sondes" name="autre-option" value="sondes">
                  <label class="text-white" for="sondes">Sondes</label>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="poulie" name="autre-option" value="poulie">
                  <label class="text-white" for="poulie">Poulie</label>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="dynamo" name="autre-option" value="dynamo">
                  <label class="text-white" for="dynamo">Dynamo</label>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="frein" name="autre-option" value="frein">
                  <label class="text-white" for="frein">Frein</label>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="accouplement" name="autre-option" value="accouplement">
                  <label class="text-white" for="accouplement">Accouplement</label>
              </div>
          </div>
      </div>
      <div class="col-md-3">
          <div class="form-group">
              <div class="checkbox-label rounded">
                  <input type="checkbox" id="pignon" name="autre-option" value="pignon">
                  <label class="text-white" for="pignon">Pignon</label>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-12">
          <div class="form-group">
              <label class="autre-label" for="autre-option">Autre</label>
              <input type="text" class="form-control rounded" id="autre-type-option" placeholder="Spécifiez l'option">
          </div>
      </div>
  </div>
</div>
