.checkbox-label {
    background-color: #012061; /* Couleur bleue */
    padding: 10px;
    margin-bottom: 5px;
}

.autre-label {
    margin-top: 10px;
}

label {
    margin-left: 15px;
}

input {
    margin-left: 10px;
}

.container {
    margin-top: 20px;
    margin-bottom: 40px;
}