legend {
    background-color: #012061;
    color: #ffffff; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-row{
    margin:0;
    margin-top: 1%;
    justify-items: center;
}

.form-check-label, .form-check-input {
    margin-top: 8px;
}

.legend-container {
    display: flex;
    align-items: center;
    padding: 0;
}

form {
    margin-bottom: 40px;
    margin-left: 5%;
}

.dropdown-toggle {
    color: #ffffff;
    background-color: #012061;
}

.dropdown-toggle:active {
    color: #ffffff;
    background-color: #00143e;
}

.form-check {
    padding-top: 5px;
}