<form>
    <fieldset class="row">
        <legend class="col-form-label col-sm-2">Travaux</legend>
        <div class="col-sm-9">
            <div class="row task-row">
                <div class="form-check col-sm-2">
                    <input class="form-check-input" type="checkbox" name="gridCheckboxes" id="gridCheckboxes1" value="option1">
                    <label class="form-check-label task" for="gridCheckboxes1">Révision</label>
                </div>
                <div class="form-check col-sm-2">
                    <input class="form-check-input" type="checkbox" name="gridCheckboxes" id="gridCheckboxes2" value="option2">
                    <label class="form-check-label task" for="gridCheckboxes2">Bobinage</label>
                </div>
                <div class="form-check col-sm-2">
                    <input class="form-check-input" type="checkbox" name="gridCheckboxes" id="gridCheckboxes3" value="option3">
                    <label class="form-check-label task" for="gridCheckboxes3">Réparation</label>
                </div>
                <div class="form-check col-sm-2">
                    <input class="form-check-input" type="checkbox" name="gridCheckboxes" id="gridCheckboxes4" value="option4">
                    <label class="form-check-label task" for="gridCheckboxes4">Devis</label>
                </div>
            </div>
            <div class="row task-row">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Autre</button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Autre 1</a></li>
                      <li><a class="dropdown-item" href="#">Autre 2</a></li>
                      <li><a class="dropdown-item" href="#">Autre 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </fieldset>
</form>