label:not(.coupling), h3, legend {
    background-color: #012061;
    color: #ffffff;
    padding-left: 2%;
}

.coupling-row{
    margin:0;
    margin-top: 1%;
}

h3{
    padding: 1%;
    padding-left: 2%;
    margin: 0;
}

input {
    margin-top: 1%;
}

#comment {
    margin-top: 1%;
    margin-left: 5%;
}