label:not(.form-check-label), h3, legend, .head {
    background-color: #012061;
    color: #ffffff;
    padding-left: 2%;
}

h3{
    padding: 1%;
    padding-left: 2%;
    margin: 0;
}

input {
    margin-top: 1%;
}

#comment {
    margin-left: 5%;
}