<form>
    <div class="row head">
        <div class="col">
            <h3>DEVIS</h3>
        </div>
        <div class="col">
            <h3>h</h3>
        </div>
        <div class="col">
            <h3>€</h3>
        </div>
        <div class="col">
            <h3>Total €</h3>
        </div>
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Forfait révision</label>
        <div class="col">
            <input type="text" class="form-control" id="inputOverhaulPackageH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputOverhaulPackageEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputOverhaulPackageTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Forfait bobinage</label>
        <div class="col">
            <input type="text" class="form-control" id="inputWindingPackageH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputWindingPackageEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputWindingPackageTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Taux horaire</label>
        <div class="col">
            <input type="text" class="form-control" id="inputHourlyRateH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputHourlyRateEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputHourlyRateTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Sous-traitance</label>
        <div class="col">
            <input type="text" class="form-control" id="inputOutsourcingH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputOutsourcingEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputOutsourcingTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Démontage</label>
        <div class="col">
            <input type="text" class="form-control" id="inputDisassemblyH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputDisassemblyEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputDisassemblyTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Débobinage</label>
        <div class="col">
            <input type="text" class="form-control" id="inputUnwindingH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputUnwindingEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputUnwindingTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Bobinage</label>
        <div class="col">
            <input type="text" class="form-control" id="inputWindingH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputWindingEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputWindingTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Remontage</label>
        <div class="col">
            <input type="text" class="form-control" id="inputRewindingH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputRewindingEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputRewindingTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Baguage</label>
        <div class="col">
            <input type="text" class="form-control" id="inputBandingH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputBandingEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputBandingTotalEuro">
        </div>   
    </div>
    <div class="row">
        <label for="inputBrand" class="col-sm-2 col-form-label">Usinage</label>
        <div class="col">
            <input type="text" class="form-control" id="inputMachiningH">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputMachiningEuro">
        </div>
        <div class="col">
            <input type="text" class="form-control" id="inputMachiningTotalEuro">
        </div>   
    </div>
    <div class="row">
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="Remarques" id="comment">
        </div>
    </div>
  </form>