<form>
    <div class="row">
        <h3>Contrôle dimensionnel des emboîtements et portées des roulements</h3>
    </div>
    <div class="row">
      <label for="inputBrand" class="col-sm-2 col-form-label">Baguage,<br>métallisation,</label>
      <div class="col-sm-9">
            <form class="was-validated">
                <div class="row">
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Joint</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck2" required>
                            <label class="form-check-label" for="validationFormCheck2">Roulement AC</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck3" required>
                            <label class="form-check-label" for="validationFormCheck3">Alésage</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck4" required>
                            <label class="form-check-label" for="validationFormCheck4">Arbre</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="was-validated">
                <div class="row">
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck5" required>
                            <label class="form-check-label" for="validationFormCheck5">Ventilateur</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck6" required>
                            <label class="form-check-label" for="validationFormCheck6">Roulement OAC</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck7" required>
                            <label class="form-check-label" for="validationFormCheck7">Alésage</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck8" required>
                            <label class="form-check-label" for="validationFormCheck8">Arbre</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>   
    </div>
    <div class="row">
      <label for="inputSerieNumber" class="col-sm-2 col-form-label">Usinage</label>
      <div class="col-sm-9">
        <form class="was-validated">
            <div class="row">
                <div class="col">
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck9" required>
                        <label class="form-check-label" for="validationFormCheck9">Collecteur</label>
                        <div class="valid-feedback">OK</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck10" required>
                        <label class="form-check-label" for="validationFormCheck10">Bague</label>
                        <div class="valid-feedback">OK</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck11" required>
                        <label class="form-check-label" for="validationFormCheck11">Bout d'arbre</label>
                        <div class="valid-feedback">OK</div>
                    </div>
                </div>
                <div class="col">
                </div>
            </div>
        </form>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <textarea class="form-control" placeholder="Remarques" id="comment"></textarea>
        </div>
    </div>
  </form>