label:not(.form-check-label), h5, legend {
    background-color: #012061;
    color: #ffffff;
    padding-left: 2%;
}

h5{
    padding: 1%;
    padding-left: 2%;
    margin: 0;
    padding-bottom: 15px;
}

#comment {
    margin-top: 1%;
    margin-left: 5%;
}

.form-check {
    display: flex;
    align-items: center;
}

.form-check-input {
    margin-right: 5%;
}

.invalid-feedback,
.valid-feedback {
    margin-left: 5%;
    margin-top: 0;
    width: fit-content;
}

.container {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;
}