<form>
    <div class="row">
        <h3>Contrôle dimensionnel des emboîtements et portées des roulements</h3>
    </div>
    <div class="row">
      <label for="inputBrand" class="col-sm-2 col-form-label">Baguage,<br>métallisation,</label>
      <div class="col-sm-9">
            <form class="was-validated">
                <div class="row">
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Joint</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Roulement AC</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Alésage</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Arbre</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                </div>
            </form>
            <form class="was-validated">
                <div class="row">
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Ventilateur</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Roulement OAC</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Alésage</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                            <label class="form-check-label" for="validationFormCheck1">Arbre</label>
                            <div class="valid-feedback">OK</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>   
    </div>
    <div class="row">
      <label for="inputSerieNumber" class="col-sm-2 col-form-label">Usinage</label>
      <div class="col-sm-9">
        <form class="was-validated">
            <div class="row">
                <div class="col">
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                        <label class="form-check-label" for="validationFormCheck1">Collecteur</label>
                        <div class="valid-feedback">OK</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                        <label class="form-check-label" for="validationFormCheck1">Bague</label>
                        <div class="valid-feedback">OK</div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="validationFormCheck1" required>
                        <label class="form-check-label" for="validationFormCheck1">Bout d'arbre</label>
                        <div class="valid-feedback">OK</div>
                    </div>
                </div>
                <div class="col">

                </div>
            </div>
        </form>
      </div>
    </div>
  </form>