<div class="row">
    <client></client>
</div>
<div class="row">
   <motor></motor>
</div>
<div class="row">
   <other-equipement></other-equipement>
</div>
<div class="row">
    <div class="col">
        <motor-characteristics></motor-characteristics>
    </div>
    <div class="col">
        <equipment-characteristics></equipment-characteristics>
    </div>
</div>
<div class="row">
    <tasks></tasks>
</div>
<div class="row">
   <diagnostic></diagnostic>
</div>
<div class="row">
    <dimensional-inspection></dimensional-inspection>
</div>
<div class="row">
    <quotation></quotation>
</div>