form {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-control.rounded {
  margin-left: 10px;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.form-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.form-group label {
  border-radius: 8px;
  background-color: #012061;
  color: #ffffff;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 10px;
}

.form-group #client {
  flex: 3; /* 75% */
}

.form-group #numero {
  flex: 1; /* 25% */
}

.form-group #nom {
  flex: 2; /* Moitié de la ligne */
}

.form-group #tel, .form-group #date {
  flex: 1; /* Un quart de la ligne pour chaque é lément */
  /*margin-left: 10px; /* Ajoutez une marge à gauche pour simuler le calcul avec la marge */
}
  
.form-group #ref, .form-group #mail {
  flex: 1; /* 50% pour chaque élément */
  /* margin-left: 10px;  Ajoutez une marge à droite pour simuler le calcul avec la marge */
}