<form>
    <div class="row">
        <h4>Réducteur, pompe ...</h4>
    </div>
    <div class="row">
      <label for="inputBrand" class="col-sm-2 col-form-label">Marque</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputBrand">
      </div>
    </div>
    <div class="row">
      <label for="inputSerieNumber" class="col-sm-2 col-form-label">N° de série</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="inputSerieNumber">
      </div>
    </div>
    <div class="row">
        <label for="inputType" class="col-sm-2 col-form-label">Type</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputType">
        </div>
    </div>
    <div class="row">
        <label for="inputReduction" class="col-sm-2 col-form-label">Réduction</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputReduction">
        </div>
    </div>
    <div class="row">
        <label for="inputSpeed" class="col-sm-2 col-form-label">Vitesse</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputSpeed">
        </div>
    </div>
    <div class="row">
        <label for="inputShaft" class="col-sm-2 col-form-label">Arbre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputShaft">
        </div>
    </div>
    <div class="row">
        <label for="inputFastening" class="col-sm-2 col-form-label">Fixation</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputFastening">
        </div>
    </div>
    <div class="row">
        <label for="inputMassFlowRate" class="col-sm-2 col-form-label">m<sup>3</sup>/h</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputMassFlowRate">
        </div>
    </div>
    <div class="row">
        <label for="inputTotalHead" class="col-sm-2 col-form-label">HMT</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="inputTotalHead">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
          <textarea class="form-control" placeholder="Remarques" id="comment"></textarea>
        </div>
    </div>
  </form>